.textbook{
    display: flex;
    &_nav{
        flex-basis: 15%;
        background: rgb(149, 238, 6);
    }
    &_content{
        flex-grow: 1;
        background: rgb(255, 230, 0);
    }
    &_page_selectors{
        display: flex;
        justify-content: space-around;
        .page_button:hover{
            cursor: pointer;
        }
        margin-bottom: 20px;
        padding: 5px;
    }
}