.textbook {
  display: flex;
  min-height: 100vh;

  .nav {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    transition: all 0.5s;

    @media (max-width: 550px) {
      position: absolute;
      left: -120px;
    }
  }
}

.show {
  left: 0 !important;
}

.showBtn {
  position: absolute;

  @media (min-width: 550px) {
    display: none;
  }
}

.closeWrapper{
    display: flex;
    justify-content: center;
    @media (min-width: 550px) {
        display: none;
    }
}

.textbook_content{
  width: 100%;
}

.settings{
  padding: 5px 0;
  text-align: center;
  button{
    padding: 0;
    font-size: 14px;
    width: 110px;
    margin-top: 5px;
  }
}