p {
  margin: 0 !important;
}

.textbook_word {
  display: flex;
  padding-left: 20px;

  .info {
    section {
      article {
        .header{
          display: flex;
          align-items: center;
          margin: 10px 0;

          h4 {
            margin: 0;
          }
        }
        .transcript{
          display: flex;
          align-items: center;
          column-gap: 20px;
        }
        .sentenceAndAudio {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  button {
    padding: 2px;
    margin-left: 20px;
  }

  img {
    width: 300px;
    height: auto;
    margin-right: 15px;
  }
}