.wrapper {
  //background-color: #613492;
  text-align: center;
  padding: 120px 50px;
  color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  font-family: monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 650px) {
    padding: 100px 20px;
  }

  @media (max-width: 400px) {
    padding: 50px 5px 20px 5px;
    justify-content: flex-start;
  }

  .header {
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    font-size: 40px;
  }

  h4 {
    font-size: 26px;
  }

  p {
    margin: 15px 0;
    line-height: 20px;
    font-size: 18px;

    @media (max-width: 330px) {
      font-size: 15px;
    }
  }

  button {
    margin-top: 10px;
  }
}