.wrapper {
  background-color: #613492;
  text-align: center;
  padding: 50px 30px 20px 30px;
  color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  font-family: monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 400px) {
    padding: 50px 10px 20px 10px;
  }

  .header {
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    font-size: 40px;
  }

  .nextOrUnknown{
    font-size: 26px;
    margin: 20px 0;
  }

  p{
    @media (max-width: 350px) {
      font-size: 20px;
    }
  }
}