.card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 auto 20px;
  padding: 15px;
  width: 90%;

  .card__blockReverse {
    flex-direction: row-reverse;
  }

  .card__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;

    .card__photo {
      .card__author {
        width: 150px;
      }
    }

    .card__info {
      flex-grow: 1;
      flex-basis: min-content;

      .card__authorInfo {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
      }

      .card__desc {
        line-height: 1.7em;
        font-size: 20px;
        text-align: justify;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;
      row-gap: 20px;

      .card__author {
        width: 200px !important;
      }
    }
  }
}