.miniGames{
  max-width: 1500px;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  column-gap: 50px;
  row-gap: 40px;
  padding-bottom: 230px;

  @media (max-width: 950px) {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    column-gap: 30px;
    row-gap: 20px;
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    column-gap: 30px;
    row-gap: 20px;
  }

  @media (max-width: 700px) {
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 300px);
    row-gap: 30px;
  }

  .gameWrapper {
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    border-radius: 20px;
    cursor: pointer;

    h4{
      font-size: 40px;
    }

    .game{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;

      &:hover{
        -webkit-transform: scale(1.2);
      }
    }

    &:hover .game {
      transform: scale(1.2);
    }
  }
}