.game_savanna_container {
    background: #009275;
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &_description{
        padding: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        h2{
            text-align: center;
            text-transform: uppercase;
        }
        p:last-child{
            text-align: center;
        }
    }
    &_btn{
        width: 100px;
        height: 40px;
        line-height: 30px;
        background: #009275;
        border: 2px solid #fff;
        border-radius: 10px;
        color: #fff;
        box-sizing: border-box;
        transition: transform linear 0.1s;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1)
        }
    }
}