.description {
  position: relative;
  height: 600px;
  padding: 50px 0;
  border-bottom: 1px solid grey;
  background: #f3e8e8;

  .description__block {
    width: 90%;
    margin: 0 auto;

    .description__title {
      width: 90%;
      margin: 0 auto 30px;
    }

    .description__p {
      line-height: 1.7em;
      width: 60%;
      float: right;
    }

    .description__word {
      position: absolute;
      bottom: 50px;
      left: 0;
      font-size: 108px;
      background: linear-gradient(45deg, #46CF42 33%, #0D61BC 66%, #8AA9D6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.5;
    }
  }
}