.wrapper {
  text-align: center;
  background-color: #fff6cc;
  padding: 50px;
  position: relative;

  .timeWrapper {
    position: absolute;
    left: 50px;
    top: 50px;

    .countdown {
      position: relative;
      height: 40px;
      width: 40px;
      text-align: center;
    }

    .countdown__number {
      color: black;
      display: inline-block;
      line-height: 40px;
    }

    .countdown__svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }

    .countdown__circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: black;
      fill: none;
      animation: countdown 60s linear infinite forwards;
    }

    @keyframes countdown {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 113px;
      }
    }
  }

  .pointsNumber {
    font-size: 26px;
    color: #16b416;
  }

  .gameWindow {
    border-radius: 20px;
    background-color: white;
    width: 40%;
    margin: 0 auto 50px;

    .wordsWindow {
      .enWord {
        font-size: 22px;
      }

      .ruWord {
        font-size: 16px;
        color: grey;
      }
    }

    .answer {
      border-radius: 50%;
      background-color: grey;
      width: 60px;
    }

    .answerRight {
      border-radius: 50%;
      background-color: green;
      width: 60px;
    }

    .points {
      text-align: center;
    }

    .arrowButtons {
      display: flex;
      justify-content: space-between;
      width: 100px;
      margin: 0 auto;
      padding: 25px 0;

      .arrowKey {
        width: 40px;
        opacity: 0.5;
        transition: all 0.15s;
      }
    }
  }

  .endGame {
    background: white;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    padding: 20px;

    .verdict {
      display: block;
      margin: 0 auto 20px auto;
      width: 50%;
    }

    .statistics {
      width: 70%;
      margin: 0 auto;

      .rightStat {
        // TODO: insert some styles
      }

      .wrongStat {
        // TODO: insert some styles
      }
    }
  }
}